PORT=
MONGODB_URI=
MONGODB_DATABASE=
ENVIRONMENT=development
JWT_SECRET=
JWT_ISSUER=
JWT_EXPIRE=
REDIS_URL=
REDIS_USERNAME=
REDIS_PASSWORD=
CORS_ALLOWED_ORIGINS=http://localhost:3000
BOOTSTRAP_ADMIN_USERNAME=
BOOTSTRAP_ADMIN_PASSWORD=
BOOTSTRAP_ADMIN_FULL_NAME=Quản trị viên
BOOTSTRAP_ADMIN_WORKSPACE=Hệ thống
